<div class="ui stackable three column grid">
  <div class="seven wide column">
    <h1 class="ui header">
      Name of Quiz
      <div class="sub header">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    </h1>
  </div>
  <div class="six wide column">
    <div class="ui mini three statistics">
      <div class="statistic">
        <div class="value">50</div>
        <div class="label">Total</div>
      </div>
      <div class="yellow statistic">
        <div class="value">25</div>
        <div class="label">Answered</div>
      </div>
      <div class="statistic">
        <div class="value">10</div>
        <div class="label"><i class="red flag icon"></i>Flagged</div>
      </div>
    </div>
  </div>
  <div class="three wide center aligned column">
    <h3>
      <i class="hourglass half icon"></i>
      <span class="hours">1</span>
      <span class="colon">:</span>
      <span class="minutes">23</span>
      <span class="colon">:</span>
      <span class="seconds">45</span>
    </h3>
  </div>
</div>
