<div id="question"
  class="ui piled segment"
  [class.loading]="!loaded"
  [class.disabled]="!active">
  <div class="ui header">
    Question #{{question.sequence}}
    <a (click)="toggleFlag()">
      <i class="flag icon" [class.red]="flagged" [class.grey]="!flagged"></i>
    </a>
  </div>
  <div class="center aligned" [innerHTML]="question.body"></div>
  <p *ngIf="question.hint && question.hint.length" class="ui info message">
    <i class="warning icon"></i>
    {{question.hint}}
  </p>

  <div class="ui divider"></div>

  <div *ngIf="question.answer.choices" class="ui form">
    <div class="grouped fields">
      <label for="answer">Select {{question.answer.correct.length | word}}</label>
      <form action="#">
        <div class="field answer-choices" *ngFor="let answer of question.answer.choices; let i = index">
          <div [class.disabled]="!active" class="ui checkbox" [class.radio]="!hasMultipleAnswers()">
            <input type="{{ hasMultipleAnswers()? 'checkbox' : 'radio'}}"
              name="answer" [id]="i" [value]="i">
            <label [for]="i">
              <span class="index">{{i | alphabet:'A'}}.</span>
              <span class="body">{{answer}}</span>
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div id="answer-btns" class="ui stackable two column grid">
    <div class="eight wide column">
      <button class="ui basic large button"
        [class.disabled]="!active"
        (click)="toggleFlag()">
        <i class="flag icon" [class.red]="flagged" [class.grey]="!flagged"></i>
        Flag for Review
      </button>
      <button (click)="submit()" [class.disabled]="!active"
        class="ui large primary right labeled icon button">
        <i class="arrow icon"
          [class.right]="hasNext()"
          [class.checkmark]="!hasNext()">
        </i>{{ hasNext()? 'Next' : 'End'}}
      </button>
    </div>
    <div class="right floated right aligned four wide column">
      <a [class.disabled]="!active" class="ui button"
        (click)="gotoReview()">
        Review
      </a>
    </div>
  </div>
</div>
