  <div class="ui header">Question #5 <a href="#"><i class="grey flag icon"></i></a></div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit maximus mi ac pulvinar. Vestibulum vestibulum, odio sit amet volutpat fringilla, nibh risus rhoncus lectus, quis blandit urna risus et nulla. Quisque nunc neque, varius sit amet quam vitae, pellentesque dignissim tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In dolor nibh, ultrices id semper eu, sollicitudin id leo.
  </p>
  <div class="ui divider"></div>

  <div class="ui form">
    <div class="grouped fields">
      <label for="answer">Select an answer</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="answer" class="hidden">
          <label>A. Lorem ipsum</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" iname="answer" class="hidden">
          <label>B. Lorem ipsum</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="answer" class="hidden">
          <label>C. Lorem ipsum</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="answer" class="hidden">
          <label>D. Lorem ipsum</label>
        </div>
      </div>
    </div>
  </div>


  <div class="ui divider"></div>

  <div class="ui stackable two column grid">
    <div class="eight wide column">
      <button class="ui basic large button">
        <i class="grey flag icon"></i>
        Flag for Later
      </button>
      <button class="ui large positive right labeled icon button">
        <i class="right arrow icon"></i>Next
      </button>
    </div>
    <div class="right floated right aligned two wide column">
      <a class="fluid ui icon button">
        Review All
      </a>
    </div>
  </div>
