<div class="ui top borderless menu">
  <div class="item">
    <img src="http://via.placeholder.com/100x100">
  </div>
  <div class="item">Quizzer</div>
  <div class="item"><a href="#">Help <i class="help circle icon"></i></a></div>
  <div class="right menu">
    <div class="item">
      <!-- <a href="#">Quit<i class="sign out icon"></i></a> -->
      <button class="circular ui icon button"><i class="power icon"></i></button>
    </div>
  </div>
</div>

<div class="ui container">
  <div class="ui stackable three column grid">
    <div class="seven wide column">
      <h1 class="ui header">
        Name of Quiz
        <div class="sub header">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      </h1>
    </div>
    <div class="six wide column">
      <div class="ui mini three statistics">
        <div class="statistic">
          <div class="value">50</div>
          <div class="label">Total</div>
        </div>
        <div class="yellow statistic">
          <div class="value">25</div>
          <div class="label">Answered</div>
        </div>
        <div class="statistic">
          <div class="value">10</div>
          <div class="label"><i class="red flag icon"></i>Flagged</div>
        </div>
      </div>
    </div>
    <div class="three wide center aligned column">
      <h3>
        <i class="hourglass half icon"></i>
        <span class="hours">1</span>
        <span class="colon">:</span>
        <span class="minutes">23</span>
        <span class="colon">:</span>
        <span class="seconds">45</span>
      </h3>
    </div>
  </div>

  <div class="ui piled segment">
    <div class="ui header">Question #5 <a href="#"><i class="grey flag icon"></i></a></div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit maximus mi ac pulvinar. Vestibulum vestibulum, odio sit amet volutpat fringilla, nibh risus rhoncus lectus, quis blandit urna risus et nulla. Quisque nunc neque, varius sit amet quam vitae, pellentesque dignissim tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In dolor nibh, ultrices id semper eu, sollicitudin id leo.
    </p>
    <div class="ui divider"></div>

    <div class="ui form">
      <div class="grouped fields">
        <label for="answer">Select an answer</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="answer" class="hidden">
            <label>A. Lorem ipsum</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" iname="answer" class="hidden">
            <label>B. Lorem ipsum</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="answer" class="hidden">
            <label>C. Lorem ipsum</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="answer" class="hidden">
            <label>D. Lorem ipsum</label>
          </div>
        </div>
      </div>
    </div>


    <div class="ui divider"></div>

    <div class="ui stackable two column grid">
      <div class="eight wide column">
        <button class="ui basic large button">
          <i class="grey flag icon"></i>
          Flag for Later
        </button>
        <button class="ui large positive right labeled icon button">
          <i class="right arrow icon"></i>Next
        </button>
      </div>
      <div class="right floated right aligned two wide column">
        <a class="fluid ui icon button">
          Review All
        </a>
      </div>
    </div>

  </div>
</div>

<div class="ui vertical footer segment">
  <div class="ui center aligned container">
    2017 &copy; Zubin
  </div>
</div>
