<div class="ui section">
  <table class="ui unstackable table">
    <thead>
      <tr>
        <th>#</th>
        <th class="twelve wide">Question</th>
        <th class="two wide">Answered</th>
        <th>Flagged</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="right aligned">1</td>
        <td>Lorem ipsum</td>
        <td class="center aligned">Yes</td>
        <td class="center aligned"><i class="ui icon red flag"></i></td>
      </tr>
      <tr class="warning">
        <td class="right aligned">2</td>
        <td>Lorem ipsum</td>
        <td class="center aligned">No</td>
        <td class="center aligned"><i class="ui icon red flag"></i></td>
      </tr>
      <tr>
        <td class="right aligned">3</td>
        <td>Lorem ipsum</td>
        <td class="center aligned">No</td>
        <td class="center aligned"></td>
      </tr>
    </tbody>
  </table>

  <div class="ui buttons">
    <a class="ui button">Back</a>
    <a class="ui primary button">Review Flagged</a>
    <a class="ui secondary button">Review All</a>
  </div>
</div>
