<div class="ui card">
  <div class="image">
    <img src="//lorempixel.com/400/400/people">
  </div>
  <div class="content">
    <a class="header">Lorem Ipsum</a>
    <div class="meta">
      <span class="email">cdiptangshu@gmail.com</span>
    </div>
    <div class="meta">
      <span class="group">Group Name</span>
    </div>
    <div class="description">
      Kristy is an art director living in New York.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="large yellow trophy icon"></i>
      22 / 23
    </a>
  </div>
</div>
