<div class="ui stackable grid">
  <div class="three column row">
    <div class="seven wide column">
      <h3 class="ui header">
        Name of Quiz
        <div class="sub header">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      </h3>
    </div>
    <div class="six wide column">
      <div class="ui mini three statistics">
        <div class="statistic">
          <div class="value">50</div>
          <div class="label">Total</div>
        </div>
        <div class="yellow statistic">
          <div class="value">25</div>
          <div class="label">Answered</div>
        </div>
        <div class="statistic">
          <div class="value">10</div>
          <div class="label"><i class="red flag icon"></i>Review</div>
        </div>
      </div>
    </div>
    <div class="three wide center aligned column">
      <app-timer></app-timer>
    </div>
  </div>
</div>
